# Virtual environment
venv/

# Database
db.sqlite3

# Python cache and bytecode
__pycache__/
*.pyc

# Media uploads
media/

# Environment files
.env

# Django staticfiles (optional)
/staticfiles/

# VSCode
.vscode/

# macOS
.DS_Store
